.container {
  width: 560px;
  height: 560px;

  position: relative;
  left: 50%;
  margin-left: -280px;
  margin-top: 80px;
  background: url(~src/assets/images/chess-board.png) no-repeat;
  background-size: 600px 604px;
  padding: 20px 20px 24px 22px;
}
