<div class="board">
  <ng-container>
    <div class="square-container" *ngFor="let i of sixtyFour">
      <app-square *ngIf="xy(i) as position" [black]="isBlack(position)" (click)="handleSquareClick(position)">

        <div *ngIf="chessBlackRook1Position$|async as chessPiecePosition">
          <app-chess-black-rook *ngIf="position.x === chessPiecePosition.x && position.y === chessPiecePosition.y"></app-chess-black-rook>
        </div>
        <div *ngIf="chessBlackKnight1Position$|async as chessPiecePosition">
          <app-chess-black-knight *ngIf="position.x === chessPiecePosition.x && position.y === chessPiecePosition.y"></app-chess-black-knight>
        </div>
        <div *ngIf="chessBlackBishop1Position$|async as chessPiecePosition">
          <app-chess-black-bishop *ngIf="position.x === chessPiecePosition.x && position.y === chessPiecePosition.y"></app-chess-black-bishop>
        </div>
        <div *ngIf="chessBlackQueenPosition$|async as chessPiecePosition">
          <app-chess-black-queen *ngIf="position.x === chessPiecePosition.x && position.y === chessPiecePosition.y"></app-chess-black-queen>
        </div>
        <div *ngIf="chessBlackKingPosition$|async as chessPiecePosition">
          <app-chess-black-king *ngIf="position.x === chessPiecePosition.x && position.y === chessPiecePosition.y"></app-chess-black-king>
        </div>
        <div *ngIf="chessBlackBishop2Position$|async as chessPiecePosition">
          <app-chess-black-bishop *ngIf="position.x === chessPiecePosition.x && position.y === chessPiecePosition.y"></app-chess-black-bishop>
        </div>
        <div *ngIf="chessBlackKnight2Position$|async as chessPiecePosition">
          <app-chess-black-knight *ngIf="position.x === chessPiecePosition.x && position.y === chessPiecePosition.y"></app-chess-black-knight>
        </div>
        <div *ngIf="chessBlackRook2Position$|async as chessPiecePosition">
          <app-chess-black-rook *ngIf="position.x === chessPiecePosition.x && position.y === chessPiecePosition.y"></app-chess-black-rook>
        </div>

        <div *ngIf="chessBlackPawn1Position$|async as chessPiecePosition">
          <app-chess-black-pawn *ngIf="position.x === chessPiecePosition.x && position.y === chessPiecePosition.y"></app-chess-black-pawn>
        </div>
        <div *ngIf="chessBlackPawn2Position$|async as chessPiecePosition">
          <app-chess-black-pawn *ngIf="position.x === chessPiecePosition.x && position.y === chessPiecePosition.y"></app-chess-black-pawn>
        </div>
        <div *ngIf="chessBlackPawn3Position$|async as chessPiecePosition">
          <app-chess-black-pawn *ngIf="position.x === chessPiecePosition.x && position.y === chessPiecePosition.y"></app-chess-black-pawn>
        </div>
        <div *ngIf="chessBlackPawn4Position$|async as chessPiecePosition">
          <app-chess-black-pawn *ngIf="position.x === chessPiecePosition.x && position.y === chessPiecePosition.y"></app-chess-black-pawn>
        </div>
        <div *ngIf="chessBlackPawn5Position$|async as chessPiecePosition">
          <app-chess-black-pawn *ngIf="position.x === chessPiecePosition.x && position.y === chessPiecePosition.y"></app-chess-black-pawn>
        </div>
        <div *ngIf="chessBlackPawn6Position$|async as chessPiecePosition">
          <app-chess-black-pawn *ngIf="position.x === chessPiecePosition.x && position.y === chessPiecePosition.y"></app-chess-black-pawn>
        </div>
        <div *ngIf="chessBlackPawn7Position$|async as chessPiecePosition">
          <app-chess-black-pawn *ngIf="position.x === chessPiecePosition.x && position.y === chessPiecePosition.y"></app-chess-black-pawn>
        </div>
        <div *ngIf="chessBlackPawn8Position$|async as chessPiecePosition">
          <app-chess-black-pawn *ngIf="position.x === chessPiecePosition.x && position.y === chessPiecePosition.y"></app-chess-black-pawn>
        </div>

      </app-square>
    </div>
  </ng-container>
</div>
